html {
    font-family: "Comic Sans MS", "Comic Sans", "Arial", "sans-serif";

}

h1, h2{
    font-family: Papyrus;
    color: purple;
}

ul {
    list-style-type: none;
    background-color: gray;
    text-align: center;
}


li {
    display: inline-block;
    padding: 16px;
}

li:hover {
    background-color: #AAA;
}

a {
    color: black;
}

footer {
    background-color: #AAA;
    color: #555;
    padding: 16px;
    text-align: center;
    

}